---
import Twitch from "@icons/Twitch.astro";
import GitHub from "@icons/GitHub.astro";
import YouTube from "@icons/YouTube.astro";
import Twitter from "@icons/Twitter.astro";
import Discord from "@icons/Discord.astro";
import Feed from "@icons/Feed.astro";
---

<ul class="socialLinks">
  <li>
    <a
      href="https://twitch.tv/whitep4nth3r"
      class="socialLinks__item"
      target="_blank"
      rel="nofollow noreferrer"
      aria-label="Follow on Twitch"><Twitch /></a
    >
  </li>
  <li>
    <a
      href="https://github.com/whitep4nth3r"
      class="socialLinks__item"
      target="_blank"
      rel="nofollow noreferrer"
      aria-label="View on GitHub"><GitHub /></a
    >
  </li>
  <li>
    <a
      href="https://youtube.com/whitep4nth3r"
      class="socialLinks__item"
      target="_blank"
      rel="nofollow noreferrer"
      aria-label="Subscribe on YouTube"><YouTube /></a
    >
  </li>
  <li>
    <a
      href="https://twitter.com/whitep4nth3r"
      class="socialLinks__item"
      target="_blank"
      rel="nofollow noreferrer"
      aria-label="Follow on Twitter"><Twitter /></a
    >
  </li>
  <li>
    <a
      href="/discord"
      class="socialLinks__item"
      target="_blank"
      rel="nofollow noreferrer"
      aria-label="Join Discord"><Discord /></a
    >
  </li>
  <li>
    <a
      href="/feed.xml"
      class="socialLinks__item"
      target="_blank"
      aria-label="Subscribe to RSS Feed"><Feed /></a
    >
  </li>
</ul>

<style lang="scss">
  @import "@styles/_social-links.scss";
</style>
